.featureProducts-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(325px, 1fr));
	grid-template-rows: 1fr;

	align-items: stretch;
	justify-content: center;
	gap: 15px;
}

@media (min-width: 768px) {
	.featureProducts-grid {
		grid-template-columns: repeat(2, minmax(325px, 1fr));
	}
}

@media (min-width: 1024px) {
	.featureProducts-grid {
		grid-template-columns: repeat(4, minmax(325px, 1fr));
	}
}
