.slider {
	position: relative;
	width: 100vw;
	height: 700px;
	/* border-radius: 15px; */
	overflow: hidden;
}

.slides {
	width: 500%;
	height: 700px;
	display: flex;
}

.slides input {
	display: none;
}

.slide {
	width: 20%;
	transition: 2.5s;
}

.slide img {
	width: 100%;
	height: 700px;
	object-fit: cover;
}

/* Manual navigation css */

.navigation-manual {
	position: absolute;

	width: 100vw;
	margin-top: -100px;

	display: flex;
	justify-content: center;
}

.manual-btn {
	padding: 5px;
	border: 3px solid red;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child) {
	margin-right: 40px;
}

.manual-btn:hover {
	background-color: red;
}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -20%;
}

#radio3:checked ~ .first {
	margin-left: -40%;
}

#radio4:checked ~ .first {
	margin-left: -60%;
}

/* Automatic navigation */

.navigation-auto {
	position: absolute;

	width: 100vw;
	margin-top: 600px;

	display: flex;
	justify-content: center;
}

.navigation-auto div {
	padding: 5px;
	border: 3px solid red;
	border-radius: 15px;
	transition: 1s;
}

.navigation-auto div:not(:last-child) {
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
	background-color: red;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
	background-color: red;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
	background-color: red;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
	background-color: red;
}

.hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.hero-btn {
	width: fit-content;
	padding: 1.3rem 1rem;
	border: medium solid #fff;
	border-radius: 15px;
	font-size: 1.5rem;
	color: #fff;
	background-color: transparent;

	display: inline-flex;
	align-items: center;
	gap: 1rem;
}
