input[name="productColor"] {
	display: none;
}

label[data-colorInput] {
	position: relative;
	color: black;
	cursor: pointer;
	display: inline-flex;
	gap: 1rem;
	border: medium solid #000;
	padding: 1rem 2rem;
	border-radius: 15px;
}

label[data-colorInput]::before {
	content: "";
	height: 2rem;
	width: 2rem;
	border: medium solid black;
	border-radius: 50%;
}

input[name="productColor"]:checked + label::before {
	height: 1rem;
	width: 1rem;
	border: thin solid black;
	background-color: black;
}

input[name="productcolor"]:checked + label {
	background-color: black;
	color: white;
}
