@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
