.category-title {
	margin-top: 1.5rem;
}

.sidebar-items {
	margin-top: 1.5rem;
}

.sidebar-label-container {
	position: relative;
	padding-left: 2rem;
	margin-bottom: 0.8rem;
	cursor: pointer;
	display: block;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.sidebar-label-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background-color: #ccc;
}

.sidebar-label-container:hover input ~ .checkmark {
	background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
	background-color: #2196f3;
}

.checkmark::after {
	content: "";
	position: absolute;
	display: none;
}

.sidebar-label-container input:checked ~ .checkmark::after {
	display: block;
}

.sidebar-label-container .checkmark::after {
	top: 5.5px;
	left: 5.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
}

.line {
	margin-top: 3rem;
	border-color: #f7f7f7;
}
