*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/** Estilos de Contenedor de Productos **/

.card-container {
	max-width: 100%;
	padding: 0 1rem;
	margin-top: 1rem;
	font-size: 1.2rem;

	display: grid;
	row-gap: 1rem;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-auto-rows: 540px;
	align-items: stretch;
	justify-content: start;
}

@media (max-width: 1280px) {
	.card-container {
		grid-template-columns: repeat(3, minmax(0, 300px));
	}
}

@media (max-width: 1024px) {
	.card-container {
		grid-template-columns: repeat(2, minmax(0, 300px));
	}
}

@media (max-width: 835px) {
	.card-container {
		grid-template-columns: repeat(1, minmax(0, 300px));
	}
}
